.skill-test1-wrapper{
	.skill-test-form{
		height:auto;
		overflow:hidden;
		border-radius:10px;
		label{
			font-size:14px;
			color:#555;
			cursor:pointer;
			display: inline-block;
		}
		.skill-test1-logo{
			margin:0 auto;
			font-size:40px;
			font-weight:bold;
			text-align:center;
			color:#555;
			-webkit-transition:0.2s ease all;
			-moz-transition:0.2s ease all;
			-ms-transition:0.2s ease all;
			-o-transition:0.2s ease all;
	        transition:0.2s ease all;
		}
		.skill-test-form-group{
			margin: 15px 0;
			&.btn-wrapper{
	        	text-align: right;
	        }
		}
		.skill-test1-input{
			padding:5px 10px;
			width:100%;
			outline:none;
			border:1px solid #bbb;
			border-radius:5px;
			display:inline-block;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
		    -webkit-transition:0.2s ease all;
			-moz-transition:0.2s ease all;
			-ms-transition:0.2s ease all;
			-o-transition:0.2s ease all;
	        transition:0.2s ease all;
		}
		.skill-test1-submit{
			color: #fff;
			background-color: transparent;
			outline: 0;
			-moz-transition: background-color 0.3s ease;
			-o-transition: background-color 0.3s ease;
			-webkit-transition: background-color 0.3s ease;
			transition: background-color 0.3s ease;
			border: 0;
		    -webkit-border-radius: 20px;
		    -moz-border-radius: 20px;
		    -ms-border-radius: 20px;
		    border-radius: 20px;
		    padding: 10px 37.5px 10px 37.5px;
  			background-color: #e67e22;

			&:hover{
				background-color: #bf6516;
			}
			&:focus{
				opacity:0.4;
			}
		}
		.postform{
			margin-left: 15px;
		    border-radius: 5px;
		    padding: 5px;
		    color: #555;
		    height: 7em;
		}
		.skill-test-error-message{
			color:red;
		}
	}
}

.skill-test3-footer-wrapper{
	position: relative;
	background-color: #243E46;
	color: #fff;
	z-index: 999;
	font-size: 16px;
	min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:20px 0px;
    .skill-test-footer{ 
		flex-basis: calc(50% - 40px);  
		justify-content: center;
		flex-direction: column;
		text-align: center;
    }
}